<mat-card-header>
    <mat-card-title>List of meals - Capacity = {{canteen.capacity}}</mat-card-title>
  </mat-card-header>
  <hr/>
  <ol class="list-group list-group-numbered" *ngFor="let meal of meals; let i = index">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{i+1}}) <button type="button" class="btn btn-link" [routerLink]="['/home/' + '/find-recipe/' + meal.id]">Meal</button>
            <span class="badge bg-danger" style="cursor: pointer; margin-left: 5px;" (click)="deleteMeal(meal.id)">Delete</span>
        </div>
      </div>
    </li>
    </ol>
  <hr>
  
  <mat-card-actions>
      <button type="button" class="btn btn-danger btn-lg" (click)="addRecipe()">Add a new recipe</button>
  </mat-card-actions>

  <br>
  <router-outlet></router-outlet>